In [32]:
import pandas as pd

In [33]:
 disease16= pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2016_release.csv')

In [34]:
disease16.shape

(27210, 63)

In [36]:
disease16.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,CA,Oakland,653000,6001405700,0653000-06001405700,3243,20.8,"(19.0, 22.6)",19.7,"(19.2, 20.3)",...,"(72.9, 76.2)",13.9,"(13.2, 14.7)",40.3,"(39.5, 41.1)",3.1,"( 3.0, 3.3)",14.9,"(12.2, 17.7)","(37.798230741, -122.229673714)"
1,CA,Oxnard,654652,6111003900,0654652-06111003900,7533,40.8,"(34.7, 46.9)",16.7,"(15.7, 17.6)",...,"(69.8, 77.5)",18.2,"(16.0, 20.3)",34.9,"(32.8, 36.6)",2.7,"( 2.4, 3.0)",20.3,"(15.2, 25.5)","(34.1789020855, -119.170822784)"
2,CA,Tracy,680238,6077005308,0680238-06077005308,4189,17.6,"(15.8, 19.6)",21.0,"(20.3, 21.7)",...,"(80.3, 83.5)",12.7,"(11.9, 13.6)",35.9,"(34.9, 36.8)",2.7,"( 2.5, 3.0)",12.4,"( 9.1, 16.2)","(37.7436586409, -121.444046782)"
3,CA,Los Angeles,644000,6037122000,0644000-06037122000,5446,17.4,"(15.4, 19.6)",19.4,"(18.6, 20.2)",...,"(78.4, 81.7)",12.2,"(11.3, 13.3)",36.1,"(35.1, 37.1)",2.6,"( 2.4, 2.8)",9.4,"( 6.8, 12.2)","(34.2148195693, -118.418406125)"
4,CA,Riverside,662000,6065041101,0662000-06065041101,5139,45.6,"(40.2, 50.6)",16.8,"(15.9, 17.8)",...,"(68.2, 75.7)",20.1,"(18.1, 22.2)",43.3,"(41.7, 44.9)",2.6,"( 2.4, 2.8)",24.5,"(19.5, 29.4)","(33.943003388, -117.464757122)"

In [37]:
TNfilter16 = disease16['StateAbbr'].isin(['TN'])

In [38]:
chronic_disease_TN16 = disease16[TNfilter16]

In [39]:
Nashfilter16 = chronic_disease_TN16['PlaceName'].isin(['Nashville'])

In [40]:
Nashdisease16 = chronic_disease_TN16[Nashfilter16]

In [41]:
Nashdisease16.shape

(156, 63)

In [43]:
Nashdisease16.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
22333,TN,Nashville,4752006,47037014400,4752006-47037014400,1250,26.7,"(22.4, 30.8)",27.5,"(26.3, 28.8)",...,"(76.9, 82.4)",18.6,"(16.7, 20.6)",45.2,"(43.3, 47.0)",4.6,"( 4.1, 5.1)",31.9,"(22.3, 41.2)","(36.1576629645, -86.8057331508)"
22334,TN,Nashville,4752006,47037010801,4752006-47037010801,5363,19.7,"(17.3, 22.1)",28.0,"(26.9, 28.9)",...,"(81.5, 85.1)",15.3,"(14.1, 16.6)",38.7,"(37.3, 39.9)",3.4,"( 3.1, 3.7)",21.4,"(15.4, 28.3)","(36.2758406196, -86.7227516725)"
22338,TN,Nashville,4752006,47037019115,4752006-47037019115,3654,7.6,"( 6.2, 9.3)",22.3,"(21.2, 23.5)",...,"(87.7, 90.9)",8.8,"( 7.8, 9.9)",31.2,"(29.7, 32.8)",1.9,"( 1.7, 2.1)",8.6,"( 5.6, 12.4)","(36.0133154771, -86.7176062426)"
22340,TN,Nashville,4752006,47037010104,4752006-47037010104,3070,12.2,"(10.4, 14.2)",31.4,"(30.1, 32.7)",...,"(82.4, 86.9)",14.2,"(12.9, 15.6)",33.1,"(31.6, 34.5)",3.3,"( 3.0, 3.6)",16.8,"(12.3, 21.7)","(36.2962421445, -86.884373603)"
22342,TN,Nashville,4752006,47037015802,4752006-47037015802,5882,28.0,"(24.5, 31.2)",23.5,"(22.8, 24.3)",...,"(76.9, 81.3)",16.4,"(15.2, 17.7)",38.8,"(37.6, 40.0)",3.1,"( 2.9, 3.4)",26.7,"(19.8, 34.4)","(36.1231320505, -86.7142265091)"

In [ ]:
#Nashdisease16.to_excel('nashdisease2016.xlsx')

In [44]:
 disease19= pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv')

In [45]:
disease19.shape

(27210, 63)

In [47]:
disease19.head(1)

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,3042,24.4,"(21.2, 27.8)",31.2,"(30.1, 32.2)",...,"(83.4, 86.6)",20.5,"(18.9, 22.2)",45.5,"(44.3, 46.5)",5.5,"( 5.0, 5.9)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)"

In [48]:
TNfilter19 = disease19['StateAbbr'].isin(['TN'])

In [49]:
chronic_disease_TN19 = disease19[TNfilter19]

In [50]:
Nashfilter19 = chronic_disease_TN19['PlaceName'].isin(['Nashville'])

In [51]:
Nashdisease19 = chronic_disease_TN19[Nashfilter19]

In [52]:
Nashdisease19.shape

(156, 63)

In [53]:
#Nashdisease19.to_excel('nashdisease2019.xlsx')