In [ ]:
import pandas as pd

In [ ]:
 disease16= pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2016_release.csv')

In [ ]:
disease16.head()

In [ ]:
disease16.shape

In [ ]:
TNfilter16 = disease16['StateAbbr'].isin(['TN'])
chronic_disease_TN16 = disease16[TNfilter16]
Nashfilter16 = chronic_disease_TN16['PlaceName'].isin(['Nashville'])
Nashdisease16 = chronic_disease_TN16[Nashfilter16]
#Nashdisease16.to_excel('nashdisease2016.xlsx')

In [71]:
Nashdisease16.shape

(156, 63)

In [ ]:
Nashdisease16.head()

In [ ]:
Nashdisease16.shape

In [54]:
disease17 = pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2017_release.csv')

In [55]:
disease17.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,population_count,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,3042,23.9,"(21.2, 27.2)",32.5,"(31.5, 33.6)",...,"(73.1, 78.6)",19.6,"(18.2, 21.2)",50.4,"(49.1, 51.6)",5.5,"( 5.0, 6.0)",30.2,"(24.1, 36.3)","(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,2735,28.8,"(25.4, 32.4)",31.3,"(30.0, 32.4)",...,"(70.0, 76.4)",20.2,"(18.5, 22.0)",49.4,"(47.8, 50.8)",5.7,"( 5.1, 6.4)",33.3,"(25.6, 41.0)","(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,3338,26.1,"(22.6, 29.9)",34.6,"(33.2, 35.9)",...,"(69.4, 76.2)",21.1,"(19.1, 23.1)",52.5,"(51.2, 53.7)",6.5,"( 5.8, 7.2)",36.0,"(28.9, 43.5)","(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,2864,28.1,"(24.6, 32.0)",37.8,"(36.3, 39.2)",...,"(67.0, 74.5)",23.1,"(21.0, 25.4)",52.6,"(51.1, 54.0)",8.2,"( 7.3, 9.2)",40.2,"(31.1, 48.9)","(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,2577,31.8,"(27.0, 36.7)",38.5,"(37.1, 39.9)",...,"(62.9, 71.9)",25.8,"(23.5, 28.2)",54.1,"(52.3, 55.6)",9.6,"( 8.5, 10.7)",45.8,"(35.2, 56.1)","(33.55254061390, -86.8016893706)"

In [56]:
disease17.shape

(27210, 63)

In [57]:
TNfilter17 = disease17['StateAbbr'].isin(['TN'])
chronic_disease_TN17 = disease17[TNfilter17]
Nashfilter17 = chronic_disease_TN17['PlaceName'].isin(['Nashville'])
Nashdisease17 = chronic_disease_TN17[Nashfilter17]
#Nashdisease17.to_excel('nashdisease2017.xlsx')

In [70]:
Nashdisease17.shape

(156, 63)

In [58]:
Nashdisease17.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,population_count,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
22409,TN,Nashville,4752006,47037010103,4752006-47037010103,2377,10.8,"( 9.0, 12.6)",31.9,"(30.6, 33.2)",...,"(84.2, 88.3)",14.4,"(13.1, 15.9)",31.6,"(30.1, 33.0)",3.3,"( 2.9, 3.7)",14.0,"(10.0, 19.1)","(36.34795051870, -86.8675409005)"
22410,TN,Nashville,4752006,47037010104,4752006-47037010104,3070,11.0,"( 9.5, 12.8)",31.4,"(30.0, 32.8)",...,"(82.4, 86.9)",14.3,"(12.8, 15.8)",33.1,"(31.6, 34.5)",3.3,"( 2.9, 3.6)",16.8,"(12.3, 21.7)","(36.29624214450, -86.8843736030)"
22411,TN,Nashville,4752006,47037010105,4752006-47037010105,4268,13.9,"(11.6, 16.6)",31.8,"(30.3, 33.5)",...,"(83.9, 88.6)",14.7,"(13.0, 16.6)",40.7,"(38.9, 42.4)",4.5,"( 3.9, 5.2)",20.7,"(14.0, 28.7)","(36.24886606420, -86.8538782901)"
22412,TN,Nashville,4752006,47037010106,4752006-47037010106,2668,20.3,"(18.1, 22.7)",29.9,"(29.0, 30.8)",...,"(83.9, 86.7)",17.9,"(16.7, 19.2)",42.6,"(41.4, 43.7)",4.7,"( 4.4, 5.1)",23.3,"(18.6, 28.2)","(36.25370835670, -86.8036071070)"
22413,TN,Nashville,4752006,47037010201,4752006-47037010201,4041,13.4,"(12.1, 14.7)",28.3,"(27.5, 29.0)",...,"(85.3, 87.6)",13.5,"(12.7, 14.3)",36.7,"(35.8, 37.6)",3.3,"( 3.1, 3.5)",16.9,"(13.3, 20.8)","(36.28825140840, -86.7728204615)"

In [62]:
disease18 = pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv')

In [63]:
disease18.shape

(27210, 63)

In [64]:
TNfilter18 = disease18['StateAbbr'].isin(['TN'])
chronic_disease_TN18 = disease18[TNfilter18]
Nashfilter18 = chronic_disease_TN18['PlaceName'].isin(['Nashville'])
Nashdisease18 = chronic_disease_TN18[Nashfilter18]
Nashdisease18.to_excel('nashdisease2018.xlsx')

In [69]:
Nashdisease18.shape

(156, 63)

In [ ]:
 disease19= pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv')

In [ ]:
disease19.head(1)

In [ ]:
disease19.shape

In [ ]:
TNfilter19 = disease19['StateAbbr'].isin(['TN'])
chronic_disease_TN19 = disease19[TNfilter19]
Nashfilter19 = chronic_disease_TN19['PlaceName'].isin(['Nashville'])
Nashdisease19 = chronic_disease_TN19[Nashfilter19]
#Nashdisease19.to_excel('nashdisease2019.xlsx')

In [68]:
Nashdisease19.shape

(156, 63)

In [78]:
disease20 = pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/PLACES__Place_Data__GIS_Friendly_Format___2020_release.csv')

In [79]:
disease20.shape

(28484, 118)

In [80]:
disease20.head()

,StateAbbr,StateDesc,PlaceName,PlaceFIPS,TotalPopulation,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,AL,Alabama,Abanda,100100,192,18.8,"(15.7, 21.9)",19.0,"(15.9, 22.2)",36.3,...,"(38.9, 41.9)",5.3,"( 4.8, 6.0)",4.7,"( 4.2, 5.2)",25.4,"(17.3, 34.2)",26.0,"(18.7, 33.2)",POINT (-85.524638 33.09136893)
1,AL,Alabama,Abbeville,100124,2688,17.5,"(15.1, 20.0)",18.4,"(15.9, 21.2)",38.2,...,"(40.2, 42.9)",5.7,"( 5.2, 6.4)",4.2,"( 3.8, 4.6)",22.4,"(15.8, 29.8)",21.9,"(15.9, 28.4)",POINT (-85.25278085 31.56640742)
2,AL,Alabama,Adamsville,100460,4522,17.1,"(15.5, 18.6)",17.9,"(16.2, 19.6)",34.2,...,"(40.8, 42.3)",4.8,"( 4.5, 5.1)",4.2,"( 3.9, 4.4)",20.6,"(17.0, 24.9)",20.8,"(17.1, 25.0)",POINT (-87.007999 33.62019948)
3,AL,Alabama,Addison,100484,758,15.1,"(12.9, 17.4)",15.4,"(13.1, 17.9)",36.3,...,"(36.7, 39.5)",4.2,"( 3.8, 4.6)",3.5,"( 3.2, 3.8)",19.3,"(14.3, 24.9)",20.0,"(14.7, 25.7)",POINT (-87.17656313 34.20163288)
4,AL,Alabama,Akron,100676,356,18.4,"(15.2, 22.0)",19.9,"(16.4, 23.8)",38.4,...,"(43.8, 47.5)",6.2,"( 5.5, 6.9)",5.4,"( 4.8, 5.9)",25.2,"(18.5, 33.0)",25.3,"(18.5, 32.6)",POINT (-87.74285611 32.87854106)

Starting in 2020, the PLACES/500 Cities Project condensed all Nashville data to a single entry.

In [92]:
TNfilter20 = disease20['StateAbbr'].isin(['TN'])
chronic_disease_TN20 = disease20[TNfilter20]
Nashfilter20 = chronic_disease_TN20['PlaceName'].isin(['Nashville-Davidson metropolitan government (balance)'])
Nashdisease20 = chronic_disease_TN20[Nashfilter20]
#Nashdisease20.to_excel('nashdisease2020.xlsx')

In [90]:
#chronic_disease_TN20.to_excel('chronic_disease_TN20.xlsx')

In [93]:
disease21 = pd.read_csv('/Users/k.simmons/Desktop/NSS/data analytics bootcamp/capstone/Data/unaltered data/PLACES__Place_Data__GIS_Friendly_Format___2021_release.csv')

In [94]:
disease20.shape

(28484, 118)

In [95]:
TNfilter21 = disease21['StateAbbr'].isin(['TN'])
chronic_disease_TN21 = disease21[TNfilter21]
Nashfilter21 = chronic_disease_TN21['PlaceName'].isin(['Nashville-Davidson metropolitan government (balance)'])
Nashdisease21 = chronic_disease_TN21[Nashfilter21]
Nashdisease21.to_excel('nashdisease2021.xlsx')